@import (once) '../../vue2-front/assets/css/less-template/template';

@px: 20rem/750;
@color-main: yellow;
@color-text: rgba(0, 0, 0, 0.86);
@color-text-fade: rgba(0, 0, 0, 0.68);
@color-bg: #f5f5f5;
@color-border: #eee;
@color-text-secondary: rgba(0, 0, 0, 0.38);
@height-header: 90*@px;
@height-footer: 98*@px;
@bg-header: svg-gradient(to right, #9D20F6, #0021E7);
@height-status-bar: 36*@px;
@color-submit: #3ABBF0;

// ================= 通用 ===================

.invisible {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  z-index: -999;
}

body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 5vw;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}

input ,textarea{
  outline: none;
  background: none;
  border: none;
}

a {
  text-decoration: none;
  &:active {
    background: none;
  }
}

.app-scroll() {
  /*苹果滚动*/
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  * {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.blur(@blur: 10px) {
  //filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
  -webkit-filter: blur(@blur); /* Chrome, Opera */
  -moz-filter: blur(@blur);
  -ms-filter: blur(@blur);
  filter: blur(@blur);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); /* IE6~IE9 */
}

.single-text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-overflow(@linenumber: 2, @max-height: 90px) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: @linenumber;
  -webkit-box-orient: vertical;
  max-height: @max-height;
}

// 普通渐变
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s
}

.fade-enter, .fade-leave-active {
  opacity: 0
}

// 由下往上小幅度渐变
.quick-slide-fade-enter-active {
  transition: all .3s ease;
}

.quick-slide-fade-leave-active {
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.quick-slide-fade-enter, .quick-slide-fade-leave-active {
  -webkit-transform: translate3d(0, 80*@px, 0);
  -moz-transform: translate3d(0, 80*@px, 0);
  -ms-transform: translate3d(0, 80*@px, 0);
  -o-transform: translate3d(0, 80*@px, 0);
  transform: translate3d(0, 80*@px, 0);
  opacity: 0;
}

.slide-left-enter,
.slide-right-leave-active {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.slide-left-leave-active,
.slide-right-enter {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

// 由下往上移动
.slide-down-up-enter-active {
  transition: all .5s cubic-bezier(.55, 0, .1, 1);
}

.slide-down-up-leave-active {
  transition: all .5s cubic-bezier(.55, 0, .1, 1);
}

.slide-down-up-enter, .slide-down-up-leave-active {
  -webkit-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  -o-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

// 弹出效果
.popup-enter-active {
  .animation(pop-up, .3s);
}
.popup-leave-active {
  transition: all .3s ease;
  opacity: 0;
}
.keyframes(pop-up);
.-frames(@-...) {
  0% {
    .transform(translate(-50%, -50%) scale3d(1.15, 1.15, 1));
  }
  100% {
    .transform(translate(-50%, -50%) scale3d(1, 1, 1));
    opacity: 1;
  }
}


.mask {
  .blur(15*@px);
}

.mask-block {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.5);
}

// 分享
.share-block {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 275*@px;
  z-index: 200;
  background: rgba(176, 173, 172, 0.85);
  .title {
    padding: 30*@px 0;
    color: #FFFFFF;
    font-size: 26*@px;
    text-align: center;
  }
  .slide-library {
    position: relative;
    overflow: hidden;
    height: 160*@px;
    .swiper-wrapper {
      padding-left: 25*@px;
    }
    .swiper-slide {
      height: 160*@px;
      width: 135*@px;
      margin-right: 35*@px;
      .slide-item {
        width: 100%;
        height: 100%;
        font-size: 25*@px;
        color: #000;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        text-align: center;
        .icon {
          width: 120*@px;
          height: 120*@px;
          margin: 0 auto 5*@px;
          &.icon-facebook {
            background: url("../../assets/image/B1/icon_facebook@3x.png") 50% 50% no-repeat;
            -webkit-background-size: 100%;
            background-size: 100%;
          }
          &.icon-instagram {
            background: url("../../assets/image/B1/icon_instagram@3x.png") 50% 50% no-repeat;
            -webkit-background-size: 100%;
            background-size: 100%;
          }
          &.icon-whatsapp {
            background: url("../../assets/image/B1/icon_whatsapp@3x.png") 50% 50% no-repeat;
            -webkit-background-size: 100%;
            background-size: 100%;
          }
          &.icon-copy {
            background: url("../../assets/image/B1/icon_copy@3x.png") 50% 50% no-repeat;
            -webkit-background-size: 100%;
            background-size: 100%;
          }
        }
      }
    }
  }
}

.block-notify-confirm {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.5);
  .modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    .border-radius(10*@px);
    width: 570*@px;
    .border-box();
    font-size: 30*@px;
    .modal-body {
      padding: 42*@px 60*@px;
      text-align: center;
    }
    .modal-footer {
      height: 82*@px;
      border-top: 1px solid #e9e9e9;
      width: 100%;
      .btn-sm {
        float: left;
        width: 50%;
        .border-box();
        text-align: center;
        height: 82*@px;
        line-height: 82*@px;
        &.btn-cancel {
          border-right: 1px solid #e9e9e9;
          color: #8B8B8B;
        }
        &.btn-confirm {
          color: #0021E6;
        }
        &:active {
          background: #E3E3EA;
        }
      }
    }
  }
}

.block-choices {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  header {
    display: none;
  }
  ul {
    @item-height: 90*@px;
    max-height: @item-height * 6;
    overflow-y: auto;
    background: white;
    li a {
      display: block;
      height: @item-height;
      line-height: @item-height;
      text-align: center;
      font-size: 30*@px;
      color: #000;
      border-bottom: 1px solid #E0E0E0;
      &.active {
      }
    }
  }
}

.block-prompt {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  .modal-dialog {
    .block-center();
    width: 530*@px;
    background: #FFFFFF;
    .rounded-corners(10*@px);
    overflow: hidden;
    .modal-header {
      background: @bg-header;
      height: 90*@px;
      .btn-close {
        display: none;
      }
      .modal-title {
        color: #FFFFFF;
        text-align: center;
        height: 90*@px;
        line-height: 90*@px;
        font-size: 37*@px;
        margin: 0;
      }
    }
    .modal-body {
      padding: 30*@px 0;
      border-bottom: 1px solid #E9E9E9;
      .prompt-input {
        display: block;
        width: 470*@px;
        height: 78*@px;
        line-height: 78*@px;
        text-align: center;
        background: #E5E5E7;
        outline: none;
        border: none;
        .placeholder-color(#8C8C8C);
        color: #000;
        font-size: 24*@px;
        margin: 0 auto;
        .rounded-corners(10*@px);
      }
    }
    .modal-footer {
      overflow: hidden;
      height: 90*@px;
      .btn-sm {
        float: right;
        width: 50%;
        .border-box();
        font-size: 26*@px;
        text-align: center;
        height: 90*@px;
        line-height: 90*@px;
        color: #8C8C8C;
        &.btn-confirm {
          color: #0021E6;
          border-left: 1px solid #e9e9e9;
        }
      }
    }
  }
}
