@import (once) '../../vue2-front/assets/css/less-template/template-defines';

@px: 20rem/750;
@color-main: yellow;
@color-text: rgba(0, 0, 0, 0.86);
@color-text-fade: rgba(0, 0, 0, 0.68);
@color-bg: #f5f5f5;
@color-border: #eee;
@color-text-secondary: rgba(0, 0, 0, 0.38);
@height-header: 90*@px;
@height-footer: 98*@px;
@bg-header: svg-gradient(to right, #9D20F6, #0021E7);
@height-statusbar: 36*@px;
@color-submit: #3ABBF0;


.app-scroll() {
  /*苹果滚动*/
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  * {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.blur(@blur: 10px) {
  //filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
  -webkit-filter: blur(@blur); /* Chrome, Opera */
  -moz-filter: blur(@blur);
  -ms-filter: blur(@blur);
  filter: blur(@blur);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); /* IE6~IE9 */
}

.single-text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-overflow(@linenumber: 2, @max-height: 90px) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: @linenumber;
  -webkit-box-orient: vertical;
  max-height: @max-height;
}

