@px: 20rem/750;
@color-main: yellow;
@color-text: rgba(0, 0, 0, 0.86);
@color-text-fade: rgba(0, 0, 0, 0.68);
@color-bg: #f5f5f5;
@color-border: #eee;
@color-text-secondary: rgba(0, 0, 0, 0.38);
@height-header: 90*@px;

@bg-header: svg-gradient(to right, #A101FB, #3502EE);

// ================= 通用 ===================

.invisible {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  z-index: -999;
}
body {
  margin: 0;
  padding: 0;
}
html {
  font-size: 5vw;
}


input {
  outline: none;
  background: none;
  border: none;
}
a {
  text-decoration: none;
}

.app-scroll() {
  /*苹果滚动*/
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  * {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.blur(@blur: 10px) {
  //filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
  -webkit-filter: blur(@blur); /* Chrome, Opera */
  -moz-filter: blur(@blur);
  -ms-filter: blur(@blur);
  filter: blur(@blur);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); /* IE6~IE9 */
}

.single-text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 普通渐变
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}

// 由下往上小幅度渐变
.quick-slide-fade-enter-active {
  transition: all .3s ease;
}
.quick-slide-fade-leave-active {
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.quick-slide-fade-enter, .quick-slide-fade-leave-active {
  -webkit-transform: translate3d(0, 80*@px, 0);
  -moz-transform: translate3d(0, 80*@px, 0);
  -ms-transform: translate3d(0, 80*@px, 0);
  -o-transform: translate3d(0, 80*@px, 0);
  transform: translate3d(0, 80*@px, 0);
  opacity: 0;
}


ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}

